body {
    font-family: sans-serif;
    background-color: rgb(236, 181, 109);
    text-align: center;
}

.heading-container {
    text-align: center;
    background-color: rgb(202, 201, 128);
    border-radius: 12px;
}

button {
    width: 240px;
    height: 50px;
    font-size: larger;
    background-color: rgb(78, 73, 73);
    color: white;
}

.result-container {
    font-size: xx-large;
    font-style: italic;
    margin-top: 2.5rem;
}

button:hover {
    background-color: rgb(122, 118, 118);
    cursor: pointer;
}